* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(/images/wallpaperflare.com_wallpaper\ \(14\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.control-buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(3, 169, 244, 0.9);
}

.control-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #F44336;
    color: #FFF;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.con {
    width: 100%;
    height: 100vh;
}

.info-container {
    width: 675px;
    height: 50px;
    margin: 20px auto;
    ;
    background-color: #F6F6F6;
    padding: 5px;
    font-size: 24px;
    overflow: hidden;
    border: 2px solid #2196f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-container .name {
    color: #2196f3;
    width: 50%;
}

.info-container .tries {

    width: 50%;
    text-align: right;
}

.memory-game-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    grid-template-columns: repeat(5, 140px);
    justify-content: center;
    align-items: center;
    width: 800px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px auto;
}

.memory-game-blocks.no-clicking {
    pointer-events: none;
}



.memory-game-blocks .game-block {
    height: 110px;
    width: 110px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    /* -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px; */
    margin: 0 10px 20px;
}

.memory-game-blocks .game-block .front {
    background-color: #333;
    line-height: 100px;
}

.memory-game-blocks .game-block .front:before {
    content: "!";
    color: #FFF;
    font-size: 80px;
    font-weight: bold;
}

.memory-game-blocks .game-block .back {
    background-color: #c7ffeb;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.memory-game-blocks .game-block .back img {
    width: 100px;
    height: 100px;
    /* margin-top: 30px; */
}

.memory-game-blocks .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 5px solid #2196F3;
}

.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    pointer-events: none;
}

@media (max-width: 767px) {
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-image: url(/images/wallpaperflare.com_wallpaper\ \(14\).jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
    }

    .con {
        width: 100%;
        height: 100%;
        display: flex;
        margin: 363px 0;
        flex-direction: column;


    }

    .info-container {
        width: 174%;
        height: 77px;
        margin: 10px 22px;
        background-color: #F6F6F6;
        padding: 5px;
        font-size: 30px;
    }

    .memory-game-blocks {
        display: -webkit-box;
        display: -ms-flexbox;
        display: grid;
        grid-template-columns: repeat(4, 200px);
        justify-content: center;
        align-items: center;
        width: 800px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 20px auto;
    }

    .memory-game-blocks .game-block {
        height: 175px;
        width: 175px;
    }

    .memory-game-blocks .game-block .front {
        line-height: 175px;
    }

    .memory-game-blocks .game-block .front:before {
        content: "!";
        font-size: 140px;
    }

    .memory-game-blocks .game-block .back img {
        width: 140px;
        height: 140px;
        margin-top: 15px;
    }
}

/*# sourceMappingURL=style.css.map */